<header class="header">
  <div class="header__container">
    <a href="/" id="header-logo-link" class="header__logo">
      <img src="Images/svg/logo_icon.svg" alt="Логотип компании" />
    </a>

    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" id="nav-link-home" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="/guide" id="nav-link-guide" class="nav__link">Про гида</a>
        </li>
        <li class="nav__item">
          <a href="/program" id="nav-link-program" class="nav__link">Программа тура</a>
        </li>
        <li class="nav__item">
          <a href="/price" id="nav-link-price" class="nav__link">Стоимость</a>
        </li>
        <li class="nav__item">
          <a href="/blog" id="nav-link-blog" class="nav__link">Блог</a>
        </li>
        <li class="nav__item">
          <a href="/contacts" id="nav-link-contacts" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>

    <button id="header-consultation-button" class="header__btn">Консультация</button>
  </div>
</header>
