<header class="header">
  <div class="header__container">
    <a [routerLink]="'/'" id="header-logo-link" class="header__logo">
      <img src="Images/svg/logo_icon.svg" alt="РумТибет" />
    </a>

    <nav class="header__nav">
      <ul class="nav__list">
        @for (item of INavigation; track item.path) {
          <li class="nav__item">
            <a 
              [routerLink]="item.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [attr.id]="'nav-link-' + (item.path === '/' ? 'home' : item.path.replace('/', ''))"
              class="nav__link"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </nav>

    <div class="header__theme-controls">

      <div class="header__mode-switch">
        <fa-icon [icon]="isDarkMode ? faMoon : faSun" class="header__theme-icon"></fa-icon>
    
        <p-toggleswitch
          [(ngModel)]="isDarkMode"
          (onChange)="onDarkModeToggle($event)">
        </p-toggleswitch>
      </div>

      <p-selectbutton
        [options]="themeOptions"
        [(ngModel)]="selectedTheme"
        (onChange)="onThemeChange($event)"
        optionLabel="label"
        optionValue="value"
        [style]="{ width: '150px' }">
      </p-selectbutton>
    </div>

    <button id="header-consultation-button" class="header__btn">Консультация</button>
  </div>
</header>