<article class="card" appAnimatedGradient>
  <header class="card__head">
    <h3 class="card__title">{{ (user.name | uppercase) || 'НЕИЗВЕСТНО' }}</h3>
    <div class="card__username">@{{ user.username || 'Неизвестно' }}</div>
  </header>

  <section class="card__section">
    <h4>КОНТАКТЫ</h4>
    <p><span>Эл. почта:</span> {{ user.email || 'Неизвестно' }}</p>
    
    <p><span>Телефон:</span> {{ user.phone ? (user.phone | phoneFormat:'international') : 'Неизвестно' }}</p>
    
    <p><span>Веб-сайт:</span> {{ user.website || 'Неизвестно' }}</p>
  </section>

  <section class="card__section">
    <h4>АДРЕС ПРОЖИВАНИЯ</h4>
    <p><span>Город:</span> {{ user.address.city || 'Неизвестно' }}</p>
    <p><span>Улица:</span> {{ user.address.street || 'Неизвестно' }}</p>
    <p><span>Офис:</span> {{ user.address.suite || 'Неизвестно' }}</p>
    <p><span>Индекс:</span> {{ user.address.zipcode || 'Неизвестно' }}</p>
    <p>
      <span>Координаты:</span>
      <span>
        <strong class="geo-box">{{ user.address.geo.lat || 'Неизвестно' }}</strong>
        <strong class="geo-box">{{ user.address.geo.lng || 'Неизвестно' }}</strong>
      </span>
    </p>
  </section>

  <section class="card__section">
    <h4>МЕСТО РАБОТЫ</h4>
    <p><span>Компания:</span> {{ user.company.name || 'Неизвестно' }}</p>
    <p><span>Миссия:</span> {{ user.company.catchPhrase || 'Неизвестно' }}</p>
    <p><span>Специализация:</span> {{ user.company.bs || 'Неизвестно' }}</p>
  </section>

  <button 
    id="delete-user-btn" 
    type="button" 
    class="delete-btn" 
    appHoverBold 
    (click)="onDelete()"
  >
    Удалить пользователя
  </button>
</article>