@font-face {
    font-family: 'Nunito-Sans';
    src: url('./Nunito-Sans-VF_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('./Nunito-Sans-VF_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: italic;
}